@charset "utf-8";
/* 全体にborder-box(heightとwidthにpaddingとmarginを含む)指定をする。 */
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;    /* 文字サイズを正しく反映 */
}

body {
    /* body部の余白をなくすためのおまじない */
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    /* GoogleFonts */
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(175, 239, 244);
}

header {
    text-align: center;
    margin: 10vh auto;
    font-size: 2rem;
    font-weight: bold;
    /* background-color: rgb(71, 226, 237); */
}

#account-area {
    width: 100%;
    /* background-color: rgb(119, 230, 238); */
}

#accountform {
    /* ↓ログインフォームを画面全体の中央に配置 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mymail {
    margin: 3vh 0;
    display: block;
    width: 25%;
    font-size: 1.3rem;
    border-radius: 10px;
}

#mypass {
    display: block;
    margin-bottom: 3vh;
    width: 25%;
    font-size: 1.3rem;
    border-radius: 10px;
}

#account {
    display: block;
    margin-bottom: 3vh;
    border-radius: 20px;
    width: 10em;
    font-size: 1.3rem;
    background-color: lightgray
}

.createuser {
    text-align: center;
    line-height: 2.5rem;
}
